footer {
    grid-area: Footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;    
}

.aboveFooter a {    
    color: #0d6dfd;
    text-decoration: none;
}
.aboveFooter a:hover {    
    color: #777;
}

.footerContent {
    background-color: #183153;
    color: #fff;
}
.footerContent a, .footerContent a:visited {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
.footerContent a:hover {
    color: #777;
}
.myLinks a, .myLinks a:visited {
    color: #fff;
}

footer .fas:hover, #myLink:hover {    
    color: rgb(152, 85, 230);
}
footer .fab:hover {
    color: #0d6dfd;    
}

.botbot {
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 40px;
    background-color: #000;
    color: #fff;    
    font-size: 0.9rem;
}