* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: arial, helvetica, sans-serif;
    background-color: #EEF2FF;
    color: #34345C;
}

#root > main { /* Este é o routes.jsx */    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px 20px 0px;
}

#root > .loading_div{
    width: 100vw;
    height: 100vh;
    display: flex;    
    justify-content: center;
    align-items: center;
}
.loading_img {
    width: 150px;
    height: 150px;    
}