* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: arial, helvetica, sans-serif;    
    background-color: #FFF;
    color: #333;
}

#root {
    min-height: 100vh;
}

.loading_div {    
    display: flex;    
    justify-content: center;
    align-items: top;
}
.loading_img {
    width: 150px;
    height: 150px;    
}

thead {
    background-color: #4472C4;
    color: #fff;
}
thead th:hover {
    background-color: #7da4e8;
    color: #222;
}
tbody tr:hover {
    background-color: #DDEEFF;    
}