.btns-area button a, .btns-area button a:hover {
    text-decoration: none;
    color: inherit;
}

.avatarImg {    
    border: 1px solid #444;
    border-radius: 10px;
    background-color: #fff;    
}


.perfil .avatarImg:hover {
    cursor: pointer;
    box-shadow: 0 0 1em #777;
}
.perfil .modal-body .avatarImg:hover {
    cursor: default;
    box-shadow: 0 0 0px #777; 
}

.userdata {
    max-width: 500px;
}

.perfil table {
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    .perfil table {
        font-size: 0.8rem;
    }
}