.btns-area button a, .btns-area button a:hover {
    text-decoration: none;
    color: inherit;
}

.avatarImg {    
    border: 1px solid #444;
    border-radius: 10px;
    background-color: #fff;
    /* Botar o cursor da mão no hover */
}