#avatar-area > a { /* Onde tá o username e userimg */
    border-radius: 0;
}
#avatar-area:hover > a { 
    background-color: #fff;
    color: #202020;    
}
#avatar-area:hover .userimg {
    border: 1px #202020 solid;
}
#avatar-area:hover .username {
    color: #202020;
}

.username {    
    font-size: 0.8rem;
    font-weight: 700;    
    color: #fff;
}

.userimg {
    border: 1px #0001 solid;
    border-radius: 5px;
    height: 40px;
    width: 40px;
}

.user-option { /* itens do menu dropdown */   
    display: inline-block;
    width: 100%; 
    height: 100%;
    text-decoration: none;
    color: #202020;
}
.user-option:hover {
    color: #202020;
}
.user-option:active {
    background-color: royalblue;
    color: #fff;
}